.style{
    font-size: 2rem;
    background-color: aquamarine
}
.modern{
    background-color: aquamarine;
    color: blue;
}
.subtitle{
    color: blue;
    background-color: aquamarine
}
.auto{
    background-color: blueviolet;
}