.input{
    padding: 10px;
    width: 100%;
}
.button{
    width: 100%;
    padding: 10px;
}
.box{
    display: flex;
}
#output{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 800;
}
#field1{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 50px;
}
#field2{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 50px;

}